body {
    margin: 0;
    padding: 0;
}

/*
 * Barn Red: #7C0A02;
 * Pretty Blue: #29bcd6;
*/
.top-bar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
    border-bottom: 2px solid #111A9F;
    color: #111A9F;
}

.top-bar a {
    color: #111A9F;
}

.top-bar, .top-bar ul {
    background-color: #FFF;
}

body {
    background-color: #E0E0E0;
}

h4 {
    color: #111A9F;
}

h5 {
    color: #111A9F;
}

.orbit-image div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.orbit-pad {
    padding-bottom: 20px;
}

.master-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
    border-top: 3px solid #111A9F;
    width: 300px;
}

.master-card a {
    background-color: #111A9F;
    color: white;
    width: 100%;
}

.master-container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.17);
    border-top: 3px solid #111A9F;
    padding: 20px;
    margin-bottom: 1rem;
    background: #fefefe;
    color: #0a0a0a;
}

.orbit-slide:nth-of-type(1) .colorslide {
    background: dodgerblue;
}

.orbit-slide:nth-of-type(2) .colorslide {
    background: rebeccapurple;
}

.orbit-slide:nth-of-type(3) .colorslide {
    background: darkgoldenrod;
}

.colorslide p {
    font-style: italic;
}

.orbit-bullets {
    background: #FFFFFF;
    border-bottom: 1px solid gray;
    margin-top: 0;
}

.white-text {
    color: white;
}

.image-pad {
    margin-bottom: 20px;
    width: 100%;
    height: 400px;
}

.review-pad {
    margin-bottom: 20px;
}

/*
.footer {
    background-color: #4e4e4e;
    color: white;
    border-top: 1px solid black;
    text-align: center;
    position: fixed;
    bottom: 10px;
    margin: -10px;
    width: 100%;
    height:20px;
}*/
.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    background-color: #4e4e4e;
    color: white;
    border-top: 1px solid black;
    flex-shrink: 0;
    text-align: center;
    padding: 16px;
}